/*==============================================*/
/*  */
/*==============================================*/
/* wsg-img-h - растягивает вложенный img по высоте */
/* wsg-img-w - растягивает вложенный img по ширине */
/* wsg-img-hw - растягивает вложенный img по высоте и ширине */

/* wsg-vert-mid - выравнивает содержимое по вертикале посередине. */
/* wsg-vert-top - выравнивает содержимое по вертикале поверху */
/* wsg-vert-bot - выравнивает содержимое по вертикале понизу */

/* wsg-clearfix - предотвращает "схопывание" блока если у дочерних элементов есть float,
                   добавляя псевдо-элмент :after */
/*==============================================*/
/*  */
/*==============================================*/
/*==============================================*/
/* GLOBAL */
/*==============================================*/
/* float */
.wsg-fl         { float: left; }
.wsg-fr         { float: right; }
.wsg-fln        { float: none; }
/* /float */
/*.............................*/
/* position */
.wsg-poss       { position: static; }
.wsg-posa       { position: absolute; }
.wsg-posr       { position: relative; }
.wsg-posf       { position: fixed; }
/* /position */
/*.............................*/
/* clear */
.wsg-cl         { clear: both; }
.wsg-cll        { clear: left; }
.wsg-clr        { clear: right; }
.wsg-cln        { clear: none; }
/* /clear */
/*.............................*/
/* display */
.wsg-dn         { display: none; }
.wsg-db         { display: block; }
.wsg-dib        { display: inline-block; }
.wsg-di         { display: inline; }
.wsg-dt         { display: table; }
.wsg-dtbcl      { display: table-column; }
.wsg-dtbcl      { display: table-row; }
/* /display */
/*.............................*/
/* overflow */
.wsg-ovh        { overflow: hidden; }
/* /overflow */
/*.............................*/
/* margin */
.wsg-ma         { margin: auto; }
.wsg-mta        { margin-top: auto; }
.wsg-mra        { margin-right: auto; }
.wsg-mba        { margin-bottom: auto; }
.wsg-mla        { margin-left: auto; }
.wsg-m0         { margin: 0; }
.wsg-mt0        { margin-top: 0; }
.wsg-mr0        { margin-right: 0; }
.wsg-ml0        { margin-left: 0; }
.wsg-mb0        { margin-bottom: 0; }
/* /margin */
/*.............................*/
/* padding */
.wsg-p0         { padding: 0; }
.wsg-pl0        { padding-left: 0; }
.wsg-pr0        { padding-right: 0; }
.wsg-pt0        { padding-top: 0; }
.wsg-pb0        { padding-left: 0; }
/* /padding */
/*.............................*/
/* width */
.wsg-wa         { width: auto; }
/* /width */
/*.............................*/
/* height */
.wsg-ha         { height: auto; }
/* /height */
/*.............................*/
/* font-weight */
.wsg-fwn        { font-weight: normal; }
.wsg-fwb        { font-weight: bold; }
.wsg-fwbr       { font-weight: bolder; }
/* /font-weight */
/*.............................*/
/* font-style */
.wsg-fsn        { font-style: normal; }
.wsg-fsi        { font-style: italic; }
/* /font-style */
/*.............................*/
/* text-align */
.wsg-tac        { text-align: center; }
.wsg-tal        { text-align: left; }
.wsg-tar        { text-align: right; }
/* /text-align */
/*.............................*/
/* border */
.wsg-bdn        { border: none; }
.wsg-bdrs50     { border-radius: 50%; }
/* /border */
/*.............................*/
/* text-transform */
.wsg-ttu        { text-transform: uppercase; }
/* /text-transform */
/*.............................*/
/* clear float */
/* wsg-clearfix - предотвращает "схопывание" блока если у дочерних элементов есть float,
                   добавляя псевдо-элмент :after */
.wsg-clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/* /clear float */
/*.............................*/
/* image proportions */
/* wsg-img-h - растягивает вложенный img по высоте */
/* wsg-img-w - растягивает вложенный img по ширине */
/* wsg-img-hw - растягивает вложенный img по высоте и ширине */
.wsg-img-h,
.wsg-img-w,
.wsg-img-hw {
    text-align: center;
    overflow: hidden;
}
    .wsg-img-v a,
    .wsg-img-h a,
    .wsg-img-b a {
        display: block;
        height: 100%;
        width: 100%;
    }
    .wsg-img-v img,
    .wsg-img-h img,
    .wsg-img-b img {
        display: inline-block;
        vertical-align: middle;
    }
    .wsg-img-v img {
        height: 100%;
        width: auto;
    }
    .wsg-img-h img {
        width: 100%;
        height: auto;
    }
    .wsg-img-b img {
        max-height: 100%;
        max-width: 100%;
    }
/* /image proportions */
/*.............................*/
/* vertical align */
/* wsg-vert-mid - выравнивает содержимое по вертикале посередине. */
/* wsg-vert-top - выравнивает содержимое по вертикале поверху */
/* wsg-vert-bot - выравнивает содержимое по вертикале понизу */
.wsg-vert-mid,
.wsg-vert-top,
.wsg-vert-bot {
    display: table-cell;
}
.wsg-vert-mid {
    vertical-align: middle;
}
.wsg-vert-top {
    vertical-align: top;
}
.wsg-vert-bot {
    vertical-align: bottom;
}
/* /vertical align */
/*==============================================*/
/* /GLOBAL */
/*==============================================*/
/*==============================================*/
/* RESPONSIVE */
/*==============================================*/
/*----------------------------------------------*/
@media (min-width: 0px) and (max-width: 419px) {
    /* float */
    .wsg-xss-fl         { float: left; }
    .wsg-xss-fr         { float: right; }
    .wsg-xss-fln        { float: none; }
    /* /float */
    /*.............................*/
    /* position */
    .wsg-xss-poss       { position: static; }
    .wsg-xss-posa       { position: absolute; }
    .wsg-xss-posr       { position: relative; }
    .wsg-xss-posf       { position: fixed; }
    /* /position */
    /*.............................*/
    /* clear */
    .wsg-xss-cl         { clear: both; }
    .wsg-xss-cll        { clear: left; }
    .wsg-xss-clr        { clear: right; }
    .wsg-xss-cln        { clear: none; }
    /* /clear */
    /*.............................*/
    /* display */
    .wsg-xss-dn         { display: none; }
    .wsg-xss-db         { display: block; }
    .wsg-xss-dib        { display: inline-block; }
    .wsg-xss-di         { display: inline; }
    .wsg-xss-dt         { display: table; }
    .wsg-xss-dtbcl      { display: table-column; }
    .wsg-xss-dtbcl      { display: table-row; }
    /* /display */
    /*.............................*/
    /* overflow */
    .wsg-xss-ovh        { overflow: hidden; }
    /* /overflow */
    /*.............................*/
    /* margin */
    .wsg-xss-ma         { margin: auto; }
    .wsg-xss-mta        { margin-top: auto; }
    .wsg-xss-mra        { margin-right: auto; }
    .wsg-xss-mba        { margin-bottom: auto; }
    .wsg-xss-mla        { margin-left: auto; }
    .wsg-xss-m0         { margin: 0; }
    .wsg-xss-mt0        { margin-top: 0; }
    .wsg-xss-mr0        { margin-right: 0; }
    .wsg-xss-ml0        { margin-left: 0; }
    .wsg-xss-mb0        { margin-bottom: 0; }
    /* /margin */
    /*.............................*/
    /* padding */
    .wsg-xss-p0         { padding: 0; }
    .wsg-xss-pl0        { padding-left: 0; }
    .wsg-xss-pr0        { padding-right: 0; }
    .wsg-xss-pt0        { padding-top: 0; }
    .wsg-xss-pb0        { padding-left: 0; }
    /* /padding */
    /*.............................*/
    /* width */
    .wsg-xss-wa         { width: auto; }
    /* /width */
    /*.............................*/
    /* height */
    .wsg-xss-ha         { height: auto; }
    /* /height */
    /*.............................*/
    /* font-weight */
    .wsg-xss-fwn        { font-weight: normal; }
    .wsg-xss-fwb        { font-weight: bold; }
    .wsg-xss-fwbr       { font-weight: bolder; }
    /* /font-weight */
    /*.............................*/
    /* font-style */
    .wsg-xss-fsn        { font-style: normal; }
    .wsg-xss-fsi        { font-style: italic; }
    /* /font-style */
    /*.............................*/
    /* text-align */
    .wsg-xss-tac        { text-align: center; }
    .wsg-xss-tal        { text-align: left; }
    .wsg-xss-tar        { text-align: right; }
    /* /text-align */
    /*.............................*/
    /* border */
    .wsg-xss-bdn        { border: none; }
    .wsg-xss-bdrs50     { border-radius: 50%; }
    /* /border */
    /*.............................*/
    /* text-transform */
    .wsg-xss-ttu        { text-transform: uppercase; }
    /* /text-transform */
}
/*----------------------------------------------*/
@media (min-width: 420px) and (max-width: 767px) {
    /* float */
    .wsg-xs-fl         { float: left; }
    .wsg-xs-fr         { float: right; }
    .wsg-xs-fln        { float: none; }
    /* /float */
    /*.............................*/
    /* position */
    .wsg-xs-poss       { position: static; }
    .wsg-xs-posa       { position: absolute; }
    .wsg-xs-posr       { position: relative; }
    .wsg-xs-posf       { position: fixed; }
    /* /position */
    /*.............................*/
    /* clear */
    .wsg-xs-cl         { clear: both; }
    .wsg-xs-cll        { clear: left; }
    .wsg-xs-clr        { clear: right; }
    .wsg-xs-cln        { clear: none; }
    /* /clear */
    /*.............................*/
    /* display */
    .wsg-xs-dn         { display: none; }
    .wsg-xs-db         { display: block; }
    .wsg-xs-dib        { display: inline-block; }
    .wsg-xs-di         { display: inline; }
    .wsg-xs-dt         { display: table; }
    .wsg-xs-dtbcl      { display: table-column; }
    .wsg-xs-dtbcl      { display: table-row; }
    /* /display */
    /*.............................*/
    /* overflow */
    .wsg-xs-ovh        { overflow: hidden; }
    /* /overflow */
    /*.............................*/
    /* margin */
    .wsg-xs-ma         { margin: auto; }
    .wsg-xs-mta        { margin-top: auto; }
    .wsg-xs-mra        { margin-right: auto; }
    .wsg-xs-mba        { margin-bottom: auto; }
    .wsg-xs-mla        { margin-left: auto; }
    .wsg-xs-m0         { margin: 0; }
    .wsg-xs-mt0        { margin-top: 0; }
    .wsg-xs-mr0        { margin-right: 0; }
    .wsg-xs-ml0        { margin-left: 0; }
    .wsg-xs-mb0        { margin-bottom: 0; }
    /* /margin */
    /*.............................*/
    /* padding */
    .wsg-xs-p0         { padding: 0; }
    .wsg-xs-pl0        { padding-left: 0; }
    .wsg-xs-pr0        { padding-right: 0; }
    .wsg-xs-pt0        { padding-top: 0; }
    .wsg-xs-pb0        { padding-left: 0; }
    /* /padding */
    /*.............................*/
    /* width */
    .wsg-xs-wa         { width: auto; }
    /* /width */
    /*.............................*/
    /* height */
    .wsg-xs-ha         { height: auto; }
    /* /height */
    /*.............................*/
    /* font-weight */
    .wsg-xs-fwn        { font-weight: normal; }
    .wsg-xs-fwb        { font-weight: bold; }
    .wsg-xs-fwbr       { font-weight: bolder; }
    /* /font-weight */
    /*.............................*/
    /* font-style */
    .wsg-xs-fsn        { font-style: normal; }
    .wsg-xs-fsi        { font-style: italic; }
    /* /font-style */
    /*.............................*/
    /* text-align */
    .wsg-xs-tac        { text-align: center; }
    .wsg-xs-tal        { text-align: left; }
    .wsg-xs-tar        { text-align: right; }
    /* /text-align */
    /*.............................*/
    /* border */
    .wsg-xs-bdn        { border: none; }
    .wsg-xs-bdrs50     { border-radius: 50%; }
    /* /border */
    /*.............................*/
    /* text-transform */
    .wsg-xs-ttu        { text-transform: uppercase; }
    /* /text-transform */
}
/*----------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
    /* float */
    .wsg-sm-fl         { float: left; }
    .wsg-sm-fr         { float: right; }
    .wsg-sm-fln        { float: none; }
    /* /float */
    /*.............................*/
    /* position */
    .wsg-sm-poss       { position: static; }
    .wsg-sm-posa       { position: absolute; }
    .wsg-sm-posr       { position: relative; }
    .wsg-sm-posf       { position: fixed; }
    /* /position */
    /*.............................*/
    /* clear */
    .wsg-sm-cl         { clear: both; }
    .wsg-sm-cll        { clear: left; }
    .wsg-sm-clr        { clear: right; }
    .wsg-sm-cln        { clear: none; }
    /* /clear */
    /*.............................*/
    /* display */
    .wsg-sm-dn         { display: none; }
    .wsg-sm-db         { display: block; }
    .wsg-sm-dib        { display: inline-block; }
    .wsg-sm-di         { display: inline; }
    .wsg-sm-dt         { display: table; }
    .wsg-sm-dtbcl      { display: table-column; }
    .wsg-sm-dtbcl      { display: table-row; }
    /* /display */
    /*.............................*/
    /* overflow */
    .wsg-sm-ovh        { overflow: hidden; }
    /* /overflow */
    /*.............................*/
    /* margin */
    .wsg-sm-ma         { margin: auto; }
    .wsg-sm-mta        { margin-top: auto; }
    .wsg-sm-mra        { margin-right: auto; }
    .wsg-sm-mba        { margin-bottom: auto; }
    .wsg-sm-mla        { margin-left: auto; }
    .wsg-sm-m0         { margin: 0; }
    .wsg-sm-mt0        { margin-top: 0; }
    .wsg-sm-mr0        { margin-right: 0; }
    .wsg-sm-ml0        { margin-left: 0; }
    .wsg-sm-mb0        { margin-bottom: 0; }
    /* /margin */
    /*.............................*/
    /* padding */
    .wsg-sm-p0         { padding: 0; }
    .wsg-sm-pl0        { padding-left: 0; }
    .wsg-sm-pr0        { padding-right: 0; }
    .wsg-sm-pt0        { padding-top: 0; }
    .wsg-sm-pb0        { padding-left: 0; }
    /* /padding */
    /*.............................*/
    /* width */
    .wsg-sm-wa         { width: auto; }
    /* /width */
    /*.............................*/
    /* height */
    .wsg-sm-ha         { height: auto; }
    /* /height */
    /*.............................*/
    /* font-weight */
    .wsg-sm-fwn        { font-weight: normal; }
    .wsg-sm-fwb        { font-weight: bold; }
    .wsg-sm-fwbr       { font-weight: bolder; }
    /* /font-weight */
    /*.............................*/
    /* font-style */
    .wsg-sm-fsn        { font-style: normal; }
    .wsg-sm-fsi        { font-style: italic; }
    /* /font-style */
    /*.............................*/
    /* text-align */
    .wsg-sm-tac        { text-align: center; }
    .wsg-sm-tal        { text-align: left; }
    .wsg-sm-tar        { text-align: right; }
    /* /text-align */
    /*.............................*/
    /* border */
    .wsg-sm-bdn        { border: none; }
    .wsg-sm-bdrs50     { border-radius: 50%; }
    /* /border */
    /*.............................*/
    /* text-transform */
    .wsg-sm-ttu        { text-transform: uppercase; }
    /* /text-transform */
}
/*----------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
    /* float */
    .wsg-md-fl         { float: left; }
    .wsg-md-fr         { float: right; }
    .wsg-md-fln        { float: none; }
    /* /float */
    /*.............................*/
    /* position */
    .wsg-md-poss       { position: static; }
    .wsg-md-posa       { position: absolute; }
    .wsg-md-posr       { position: relative; }
    .wsg-md-posf       { position: fixed; }
    /* /position */
    /*.............................*/
    /* clear */
    .wsg-md-cl         { clear: both; }
    .wsg-md-cll        { clear: left; }
    .wsg-md-clr        { clear: right; }
    .wsg-md-cln        { clear: none; }
    /* /clear */
    /*.............................*/
    /* display */
    .wsg-md-dn         { display: none; }
    .wsg-md-db         { display: block; }
    .wsg-md-dib        { display: inline-block; }
    .wsg-md-di         { display: inline; }
    .wsg-md-dt         { display: table; }
    .wsg-md-dtbcl      { display: table-column; }
    .wsg-md-dtbcl      { display: table-row; }
    /* /display */
    /*.............................*/
    /* overflow */
    .wsg-md-ovh        { overflow: hidden; }
    /* /overflow */
    /*.............................*/
    /* margin */
    .wsg-md-ma         { margin: auto; }
    .wsg-md-mta        { margin-top: auto; }
    .wsg-md-mra        { margin-right: auto; }
    .wsg-md-mba        { margin-bottom: auto; }
    .wsg-md-mla        { margin-left: auto; }
    .wsg-md-m0         { margin: 0; }
    .wsg-md-mt0        { margin-top: 0; }
    .wsg-md-mr0        { margin-right: 0; }
    .wsg-md-ml0        { margin-left: 0; }
    .wsg-md-mb0        { margin-bottom: 0; }
    /* /margin */
    /*.............................*/
    /* padding */
    .wsg-md-p0         { padding: 0; }
    .wsg-md-pl0        { padding-left: 0; }
    .wsg-md-pr0        { padding-right: 0; }
    .wsg-md-pt0        { padding-top: 0; }
    .wsg-md-pb0        { padding-left: 0; }
    /* /padding */
    /*.............................*/
    /* width */
    .wsg-md-wa         { width: auto; }
    /* /width */
    /*.............................*/
    /* height */
    .wsg-md-ha         { height: auto; }
    /* /height */
    /*.............................*/
    /* font-weight */
    .wsg-md-fwn        { font-weight: normal; }
    .wsg-md-fwb        { font-weight: bold; }
    .wsg-md-fwbr       { font-weight: bolder; }
    /* /font-weight */
    /*.............................*/
    /* font-style */
    .wsg-md-fsn        { font-style: normal; }
    .wsg-md-fsi        { font-style: italic; }
    /* /font-style */
    /*.............................*/
    /* text-align */
    .wsg-md-tac        { text-align: center; }
    .wsg-md-tal        { text-align: left; }
    .wsg-md-tar        { text-align: right; }
    /* /text-align */
    /*.............................*/
    /* border */
    .wsg-md-bdn        { border: none; }
    .wsg-md-bdrs50     { border-radius: 50%; }
    /* /border */
    /*.............................*/
    /* text-transform */
    .wsg-md-ttu        { text-transform: uppercase; }
    /* /text-transform */
}
/*----------------------------------------------*/
/*==============================================*/
/* /RESPONSIVE */
/*==============================================*/
